@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700&display=swap');
/*  */

/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */

/* font-family: 'Audiowide', cursive; */

/*  */

:root {
    --primary-color: #019934;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
}

.navbar {
    background-color: var(--primary-color);
    height: 80px;
}

.form-control {
    border: 1px solid #aaa;
}

.navbar-nav {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.navbar-brand {
    color: white !important;
    font-weight: 600;
}

.navbar-brand span {
    margin-left: 15px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
}

.navbar-brand svg {
    margin-right: 10px;
}

.navbar-divider {
    padding: 0 2px;
}

.btn {
    white-space: nowrap;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #1fbf55;
}

.content-container {
    margin-top: 110px;
}

.form-label {
    font-weight: 500;
}

.section {
    margin-bottom: 30px;
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.icon-gap-right {
    margin-right: 10px;
}
